body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    text-align: center;
    background-color: #63d6c5; 
}

header {
    padding: 30px
}

header span {
    color: white
}

main {
    margin: 15px
}

#form-select {
    padding-bottom: 50px
}

select, option, input, button {
    cursor: pointer;
}

#search-input, #btn-go-get-them {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#search-input {
    width: 290px
}

#search-input::placeholder {
    font-size: 16px;
    opacity: 0.5;
}

#btn-go-get-them {
    margin-top: 15px;
    background-color: #683ba3;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 15px;
    color: white
}

.nice-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:  #fff238
}

.funnels {
    margin-top: 30px
}

.funnels p {
    font-size: 12px;
    padding-bottom: 20px;
    color: #683ba3;
    font-weight: bolder
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    margin-bottom: 3px
}

#js-section-results {
    padding-top: 20px;
    color: #fff238;
    font-size: 18px
}


@media screen and (min-width: 375px) {

    .nice-select, #search-input {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        width: 320px
    }

    .funnels p {
        font-size: 15px;
        padding-bottom: 30px
    }
}

@media screen and (min-width: 650px) {

    header {
        padding: 60px
    }

    h1 {
        font-size: 40px
    }

    .nice-select, #search-input {
        height: 70px;
        line-height: 70px;
        font-size: 20px;
        width: 400px
    }

    #search-input::placeholder {
        font-size: 20px;
    }

    #btn-go-get-them {
        margin-top: 25px;      
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 20px;
    }

    .funnels {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px
    }
}

@media screen and (min-width: 800px) {

    header {
        padding: 20px 50px
    }

    h1 {
        font-size: 55px;
        letter-spacing: 1px
    }
}

@media screen and (min-width: 1000px) {

    .funnels p {
        font-size: 20px
    }
}

